*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
h1,h2,h3{
    color: rgb(33, 33, 33);
}
body{
    background-color: rgb(233, 255, 255);
}

h3,h4{
    color: rgb(77, 77, 77)
}

@import './song.scss';
@import './player.scss';
@import './library';
@import './nav';

*::-webkit-scrollbar{
    width: 5px;
    // height: 20%;
}
*::-webkit-scrollbar-track{
    background: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: rgb(173, 173, 173);
    border-radius: 20px;
}